<input type="text" [(ngModel)]="name">
<ul>
  <li *ngFor="let n of names">{{n}}</li>
</ul>
<button (click)="addList()">add</button>

<h2>{{nums[0]}}</h2>
<h2>{{nums[1]}}</h2>
<ul *ngIf="isvisible">
  <li *ngFor="let n of nums">
   {{nums}}
  </li>
  
</ul>


<button (click)="hideList()">hideButton</button>

<h2>NumArray</h2>
<ol>
  <li *ngFor="let n of nums">{{n}}</li>
</ol>

<ul *ngFor="let n of nums">
  <li *ngIf="n%2==0 && isshow">{{n}}</li>
</ul>
<button (click)="show()">clickEven</button>


<ul *ngfor="let s of arr">
  <ol [ngSwitch]=s>
    <li *ngSwitchCase= "'John'">hi</li>
    <li *ngSwitchCase= "'Sam'">hello</li>
    <li *ngSwitchCase= "'Joy'">wellcome</li>
  </ol>
</ul>

<table>
  <thead>
    <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Location</th>
  </tr>
  </thead>


<tbody>
  <tr *ngFor="let n of emps">
    <td>{{n.name}}</td>
   <td>{{n.age}}</td>
   <td>{{n.location}}</td>
  </tr>
</tbody>
</table>


<br>
<label>Name:</label>
<input type="text" [(ngModel)]="name">
<label>Age:</label>
<input type="number" [(ngModel)]="age">
<label>Location:</label>
<input type="text" [(ngModel)]="location">

<button (click)="submitEmp()">push</button>
